*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background: url("https://i.postimg.cc/tRd28p2d/mom-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

nav{
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

nav .logo span{
    color: #ffb6c1;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin-left: 35px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #ffb6c1;
}

.content{
    position: absolute;
    top: 40%;
    left: 50px;
    max-width: 500px;
}

.content h1{
    color: white;
    font-size: 55px;
}

.content h1 span{
    color: #ffb6c1;
}

.content p{
    color: #f0f0f0;
    margin: 15px 0;
    font-size: 18px;
    line-height: 1.5;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background: #ffb6c1;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover{
    background: white;
  }
