*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Background Image */
body{
    background: url('https://images.unsplash.com/photo-1503264116251-35a269479413')
    no-repeat center center/cover;
    height: 100vh;
}

/* Navbar */
.navbar{
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}

.logo{
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.navbar ul{
    display: flex;
    gap: 25px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.navbar ul li a:hover{
    color: #ffcc00;
}

/* Hero Section */
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    text-align: center;
}

.hero .content h1{
    color: white;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 15px;
}

.hero .content p{
    color: #f1f1f1;
    font-size: 20px;
    margin-bottom: 20px;
}

.btn{
    padding: 12px 32px;
    background: linear-gradient(90deg, #ff0099, #493240);
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
}

/* Footer */
footer{
    width: 100%;
    text-align: center;
    padding: 12px 0;
    background: rgba(0,0,0,0.7);
    color: white;
    position: absolute;
    bottom: 0;
}